@import "../../../theme/variables.scss";

:local .this {

  .description {
    font-size:24px;
    color:rgb(255,255,255);
    text-align:center;
    font-weight: 100;
  }

  .background {
  }

  .title {
	
  }

  // @media (min-width: 768px) {
    
  // }
}
