@import "../../theme/variables.scss";

.this {
  font-family: 'Exo 2', sans-serif;
  background: black;
  color: rgb(37,175,239);
  text-shadow: 0 1px 5px;

  h2 {

  }

  .section {
    padding: 20px;

    .subTitle {
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      font-size:18px;
      line-height:120%;
      color:rgba(255,255,255,0.5);
    }
  }

  .button {
    background: none;
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    color: rgb(49,206,255);
    font-size: 18px;

    &:hover {
      background:rgba(49,206,255, 0.25);
      text-decoration: none;
    }

    &:active {
      background:rgba(49,206,255, 0.5);
      text-decoration: none;
    }
  }

  .alignRight {
    text-align: right;
  }
}

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: #2d2d2d;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 1px solid $cyan;
    box-shadow: inset 0 0 10px $cyan;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: $cyan;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}


:global .box {
  display: flex;

  > * {
    flex: auto;
  }

  &--even {
    > * {
      flex: 1;
    }
  }

  &--space-20 {
    // margin: -10px;
    > * {
      //flex: auto;
      padding: 0 10px;
      border: 1px solid green;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

:global .width {
  &--1-2 {
    width: (1/2) * 100%;
  }

  &--1-4 {
    width: (1/4) * 100%;
  }
}

:global .containerz {
  background: hsla(0, 100%, 100%, 0.5);
  display: flex;
}

:global .cellz {
  //flex: auto;
  background: #eee;
  //padding: 20px;
}

:global .innerCellz {
  //flex: auto;
  background: white;
  //padding: 20px;
}
